@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,200&display=swap');

:root{
    --cor0:#F7C945;
    --cor1:#0D38CE;
    --font-padrao:'Poppins', sans-serif;;
}

body,h1,h2,p,ul,a,li{
    margin: 0px; /* para deixar a margem do site zerada */
    padding: 0px;
}

body{
     font-family: 'Poppins', sans-serif;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: block;
    max-width: 100%; /* assim a imagem vai se adptar a diferentes tipos de tela*/
}

*{
    box-sizing: border-box; /* isso faz com que o width definido seja respeitado*/
}

/*Menu*/

.menu-bg{
    background-color: var(--cor0);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.219);
}
.menu{
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.menu-logo a{
    font-size: 3em;
    font-weight: bold;
    margin: 0 10px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
    


}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    margin: 13px;
    display: block;
    font-size: 1.25em;
    transition-duration: 0.5s;
}

.menu-nav a:hover{
   color: var(--cor1);
   box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.37);
   border-radius: 8px;
   padding: 8px;
}



/*sobre*/

.sobre-container{
    
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap; /* isso faz com que os elementos quebrem para a proxima linha quando a largura diminuir*/
    
}

.sobre-info{
    flex: 2 1 160px ;
    margin: 0 10px;
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);

}

.sobre-info p {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.sobre-img{
    flex: 1 1 400px;
    margin: 0 10px;
    
    
   
}

/*nossos*/

.nossos{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    
    
    
}

.item-nossos{
    flex: 1 1 175px;
    margin: 40px;
    border: 2px solid black;
    padding: 0 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    transition: 1s;
    
}

.item-nossos img{
    width: 70px;
    height: 70px;
    margin: auto;
    padding-top: 10px;
}

.item-nossos h2{
    font-size: 1.9em;
    padding-top: 8px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.164);

}

.item-nossos p {
    text-align: center;
}

.item-nossos:hover{
    background-color: var(--cor0);
    color: var(--cor1);
    border-radius: 15px;

}

.titulo-sobre{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);

}



.contato-titulo{
  text-align: center;
  font-size: 2em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.39);
}

/*contato*/

.contato{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    
   
}

.item-contato{
    flex: 1 1 175px;
    border: 2px solid black;
    margin: 40px;
    padding: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    transition: 1s;
    
    
}


.item-contato img{  
    width: 70px;
    height: 70px;
    margin: auto;
    padding-top: 10px;
}

.item-contato h2{
    text-align: center;
    margin-top: 15px;

}


.item-contato p {
    text-align: center;
    margin-top: 15px;
}

.insta:hover{
  background-image: linear-gradient(45deg,#9D37A5,#ED86A3,#FD9C3D);
  color: white;
  border-radius: 15px;
 
}

.link:hover{
    background-image: linear-gradient(45deg,#0173B2,#0274B3,#0173B2);
    color: white;
    border-radius: 15px;
    
  
   
}

.whats:hover{
    background-image: linear-gradient(45deg,#25D266,#18CF5B,#26D367);
    color: white;
    border-radius: 15px;
    
}

.footer-bg{
    background-color: var(--cor0);
    display: flex;
    flex-wrap: wrap;
    color: var(--cor1);
    
}

.footer{
   font: italic;
   margin: auto;
}

@media (max-width: 667px;){
    body{
        font-size: 0.5em;
    }
}


